<mat-toolbar class="max-w-7xl mx-auto border-x justify-between purple-bg">
    <a routerLink="home">Shopping Store</a>

    <button mat-icon-button [matMenuTriggerFor]="cartMenu">
        <mat-icon class="" matBadge="{{totalQuantity}}" [matBadgeHidden]="!totalQuantity" matBadgeColor="warn">
            shopping_cart
        </mat-icon>
    </button>

    <mat-menu #cartMenu="matMenu">

        <div class="p-3 divide-y divide-solid">
            <!-- menu header -->
            <div class="justify-between flex pb-3">
                <span class="mr-16">{{ cart.items.length}} Items</span>
                <a routerLink="cart" matbutton>View</a>
            </div>

            <!-- menu body to show cart items with total price -->
            <div class="py-3">
                <div class="flex justify-between font-light mb-2" *ngFor="let cartItem of cart.items">
                    {{ cartItem.name }} X {{ cartItem.quantity }}
                    <span class="font-bold">{{ cartItem.price | currency: 'INR'}}</span>
                </div>
                
            </div>

            <!-- summary for menu -->
            <div class="flex justify-between py-3">
                Total : 
                <span>{{ getTotal(cart.items)| currency}}</span>
            </div>

            <!-- action links -->
            <div class="flex justify-between pt-3">
                <button class="bg-rose-600 rounded-full w-9 h-9 text-white" (click)= "clearCart()">
                    <mat-icon>remove_shopping_cart</mat-icon>
                </button>
                
                <button class="bg-green-600 rounded-full w-9 h-9 text-white" routerLink="/cart">
                    <mat-icon>shopping_cart</mat-icon>
                </button>
            </div>
        </div>

    </mat-menu>
</mat-toolbar>