<mat-toolbar class="max-w-7xl mx-auto border-x justify-between">
    <a routerLink="home">Shopping Store</a>

    <button mat-icon-button [matMenuTriggerFor]="cartMenu">
        <mat-icon class="" matBadge="2" matBadgeColor="warn">
            shopping_cart
        </mat-icon>
    </button>

    <mat-menu #cartMenu="matMenu">

        <div class="p-3 divide-y divide-solid">
            <!-- menu header -->
            <div class="justify-between flex pb-3">
                <span class="mr-16">2 Items</span>
                <a routerLink="cart" matbutton>View</a>
            </div>

            <!-- menu body to show cart items with total price -->
            <div class="py-3">
                <div class="flex justify-between font-light mb-2">
                    mouse X 2
                    <span class="font-bold">{{ 10 | currency}}</span>
                </div>
                <div class="flex justify-between font-light mb-2">
                    keyboard X 2
                    <span class="font-bold">{{ 15 | currency}}</span>
                </div>
                <div class="flex justify-between font-light mb-2">
                    ssd X 2
                    <span class="font-bold">{{ 50 | currency}}</span>
                </div>
                
            </div>

            <!-- summary for menu -->
            <div class="flex justify-between py-3">
                Total : 
                <span>{{ 75 | currency}}</span>
            </div>

            <!-- action links -->
            <div class="flex justify-between pt-3">
                <button class="bg-rose-600 rounded-full w-9 h-9 text-white">
                    <mat-icon>remove_shopping_cart</mat-icon>
                </button>
                
                <button class="bg-green-600 rounded-full w-9 h-9 text-white">
                    <mat-icon>remove_shopping_cart</mat-icon>
                </button>
            </div>
        </div>

    </mat-menu>
</mat-toolbar>